@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: oblique;
}

body {
  min-height: 100vh;
  top: 0;
  background: url("../assets/leaderboard.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

main {
  width: 80%;
  padding: 20px;
  margin: 5% 10%;
  border-radius: 20px;
  background:
    linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.2),
      rgba(161, 6, 117, 0.829)
    );
  backdrop-filter: blur(5px); 
}

h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 2%;
}

#page-section {
  display: flex;
  gap: 4rem;
}

.scores-header {
  display: flex;
  margin-bottom: 1rem;
}

button {
  padding: 0.6rem 2rem;
  font-size: 14px;
  font-weight: 600;
  background: rgb(160, 17, 53);
  cursor: pointer;
  color: #fff;
  border-radius: 0.8rem;
  border: none;
}

.scores-header button {
  margin-left: 2rem;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

li {
  list-style: none;
  border: 2px solid pink;
  padding: 0.8rem;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  font-weight: 600;
}

#add-scores h2 {
  text-align: center;
}

input[type="text"] {
  margin: 3%;
  padding: 0.8rem;
  width: 80%;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  background: pink;
  border: none;
}

input[type="number"] {
  margin: 3%;
  padding: 0.8rem;
  width: 80%;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  background: pink;
  border: none;
  color: #000;
}

@media screen and (max-width: 1000px) {
  li {
    font-size: 1rem;
  }

  input[type="text"] {
    font-size: 1rem;
  }

  input[type="number"] {
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  #page-section {
    flex-direction: column;
  }

  input[type="text"] {
    width: 100%;
  }

  input[type="number"] {
    width: 100%;
  }
}